In [1]:
# Import the required packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the data into Pandas DataFrame
movies = pd.read_csv('/home/ichrak/PycharmProjects/pythonProject/Data Mining/Project/IMDB-Movie-Data.csv')

In [3]:
movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [4]:
movies.shape

(1000, 12)

In [5]:
# Check for number of unique values for the column 'Title'
movies.Title.nunique()

999

In [6]:
# Count the number of missing values in each column
movies.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [7]:
def missing_value_pct(series):
    """
    Returns the missing value percentage of a series
    """
    return series.isnull().mean()

In [8]:
# Percentage of missing values in Revenue column
missing_value_pct(movies["Revenue (Millions)"])

0.128

In [9]:
# Percentage of missing values in Metascore column
missing_value_pct(movies["Metascore"])

0.064

In [10]:
# Filling the missing values with the median value
median_revenue = movies['Revenue (Millions)'].median()
movies['Revenue (Millions)'].fillna(value=median_revenue, inplace=True)

In [11]:
# Check if there are anymore missing values
movies['Revenue (Millions)'].isnull().any()

False

In [12]:
# Dropping the rows that having missing values for 'Metascore'
movies.dropna(subset=['Metascore'], inplace=True)

In [13]:
# Check if there are anymore missing values
movies.Metascore.isnull().any()

False

In [16]:
# Check the new shape of the dataset
movies.shape

(936, 12)

Checking for incorrect datatype

In [15]:
movies.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

The movies columns and their datatypes seems to be mapped correctly. So no correction in datatypes required

In [18]:
# Set the index of the DataFrame to the movie 'Title'
movies.set_index('Title', inplace=True)
# It is a good idea to set the index of the DataFrame to movie title as the titles are unique

KeyError: "None of ['Title'] are in the columns"

In [19]:
# Rename the columns 'Runtime (Minutes) and 'Revenue (Millions)' for ease of accessing columns
movies.rename(columns={'Runtime (Minutes)' : 'Runtime', 'Revenue (Millions)': 'Revenue'}, inplace=True)

In [20]:
# Check the head entries to see the changes
movies.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue,Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [22]:
movies.head()
# Finally check for any missing values in the whole DataFrame
movies.isnull().any().any()

False